body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
}

body * {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#playground {
    width: 80%;
    height: 30px;
    background-color: bisque;
    flex-direction: row;
}

#typed {
    color: red;
}

#current {
    color: black;
}

#to-type {
    color: blue;
}